<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" href="../static/images/add-cart.png" type="image/png" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>groceList!</title>
</head>
<body>
    <ul class="navbar">
        <li class="nav-link">
            <a href="{{url_for('core.index')}}"><img src="../static/images/house.png" alt="" class="icon"></a>
        </li>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('grocery_lists.create_list')}}"><img src="../static/images/add-cart.png" alt="" class="icon"></a>
        
        <li class="nav-link">
            <a href="{{url_for('users.logout')}}"><img src="../static/images/sign-out.png" alt="" class="icon"></a>
        </li>
        
        {% else %}
        <li class="nav-link">
            <a href="{{url_for('users.login')}}"><img src="../static/images/sign-in.png" alt="" class="icon"></a>
        </li>
        <li class="nav-link">
            <a href="{{url_for('users.register')}}"><img src="../static/images/signup.png" alt="" class="icon"></a>
        </li>
        {% endif %}
    </ul>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>