{% extends "base.html" %}
{% block content %}
  <form class="form-group" method="POST" id="signup-form-container">
    {{form.hidden_tag()}}
    <div id="add-header-container">
      <h1 id="add-header">Item</h1>
    </div>
    <div class="form-group" id="name-container">
      {{form.name.label}}: 
      {{form.name}}
    </div>
    <div class="form-group">
      {{form.quantity.label}}: 
      {{form.quantity}}
    </div>
    <div class="form-group">
      {{form.unit.label}}: 
      {{form.unit}}
    </div>
    <div class="form-group">
      {{form.submit(id="add-button")}}
    </div>
  </form>

{% endblock %}