{% extends "base.html" %}
{% block content %}
    <div class="">
        <h1>Grocery Lists</h1>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('grocery_lists.create_list')}}">Add New Item</a>
        {% endif %}
    </div>
    {% for list in grocery_lists.items %}
    {% if list.author == current_user %}
    <h2>
        <a class="" href="{{url_for('grocery_lists.grocery', grocery_id=list.id, grocery_lists=grocery_lists)}}">{{list.name}}</a>
        <br>
        {{list.quantity}}
        {{list.unit}}
        <form action="{{ url_for('grocery_lists.delete_list', grocery_id=list.id) }}" method="POST">
            <input class="" type="submit" value="Delete">
        </form>
    </h2>
    {% endif %}
    {% endfor %}

    <!-- <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in grocery_lists.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if grocery_lists.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav> -->
{% endblock %}