{% extends "base.html" %}
{% block content %}

<h1 class="top-logo">g<span>r</span>o<span>c</span>e<span>L</span>i<span>s</span>t</h1>

{% for list in grocery_lists.items %}
{% if list.author == current_user %}
<div class="grocery-ctn">
<h2>
    <a class=""
        href="{{url_for('grocery_lists.grocery', grocery_id=list.id, grocery_lists=grocery_lists)}}">{{list.name}}
        <br>
        {{list.quantity}}
        {{list.unit}}
    </a>
</h2>
<form action="{{ url_for('grocery_lists.delete_list', grocery_id=list.id) }}" method="POST">
    <input class="" type="submit" value="Delete">
</form>
</div>
{% endif %}
{% endfor %}
{% endblock %}